*.bcf
*.fls
*.aux
*.log
*.fdb_latexmk
*.xml
*.gz
*.bak
*.sav
LaTeX/lectures.pdf
*.blg
*.bbl
*.tmp
*.bbl-SAVE-ERROR
build
LaTeX/lectures.out
LaTeX/classes.pdf
*.out
*.bcf-SAVE-ERROR
Material/April14/~$MPC.pptx
